@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,300");

*, :after, :before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.background_purple {
  background-color: $purple;
}

.background_green {
  background-color: $green;
}

.background_blue {
  background-color: $blue;
}

.white {
  color: white;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}