@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,300");

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.purple {
  background-color: $purple;
}

.green {
  background-color: $green;

}

.blue {
  background-color: $blue;

}
