@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,300");

*, :after, :before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: $large) {
    overflow-y: hidden;
  }

}

.background_purple {
  background-color: $purple;
}

.background_grey {
  background-color: $darker-grey;
}

.background_green {
  background-color: $green;
}

.background_blue {
  background-color: $blue;
}

.white {
  color: white;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.purple {
  color: $purple;
}

.grey {
  color: $medium-grey;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.hidden {
  display: none !important;
}