.edit_group_container {
  @extend .modal_container;

  ul.icons {
    margin: 0;
    padding: 0;

    list-style-type: none;

    z-index: 999;

    li {
      background-color: $medium-blue;
      margin-bottom: 3px;
      &:last-child {
        border: none;
      }
      a {
        padding: 6px;
        color: $light-grey;
        font-size: 20px;
      }
    }
  }

  div.edit_group {
    @extend .modal;
    background-color: $light-grey;

    header {
      @extend .modal_header;

    }

  }

}