.edit_group_container {
  @extend .modal_container;

  overflow-x: hidden;
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }

  div.edit_group {
    @extend .modal;

    overflow-y: hidden;
    background-color: transparent;

    header {
      @extend .modal_header;
      a.close_modal {
        top: 13px;
        left: 20px;
      }
      a.show_details {
        position: absolute;
        color: white;
        top: 30px;
        right: 15px;
      }
      div.details {
        padding: 5px 40px 0px 40px;
        text-align: center;
      }
      @media screen and (max-width: $medium) {
        min-height: 100px;
        p {
          font-size: 18px;
        }
      }
      input, textarea {
        width: 600px;
        color: white;
        text-align: center;
        line-height: 28px;
        background-color: darken($blue, 10%);
        border: 1.5px solid darken($blue, 15%);
        font-size: 22px;
        padding: 10px;
        @media screen and (max-width: $large) {
          width: 400px;
        }
        @media screen and (max-width: $medium) {
          width: 300px;
        }
        @media screen and (max-width: $small) {
          width: 200px;
        }
      }
      textarea {
        font-size: 14px;
        line-height: 14px;
        overflow-y: scroll;
      }
    }
    .left {
      background-color: $light-grey;

      @media screen and (max-width: $medium) {
        width: 100%;
      }
      @media screen and (min-width: $medium) {
        width: 565px;
      }
      @media screen and (min-width: $large) {
        width: 765px;
      }
    }
  }
  ul.icons {
    margin: 0;
    padding: 0;
    background-color: transparent;
    list-style-type: none;
    position: absolute;

    z-index: 999;
    /* todo rework - not responsive */
    @media screen and (max-width: $medium) {
      top: 0;
      right: 0;
    }
    @media screen and (min-width: $medium) {
      top: 0;
      right: 0;
    }

    li {
      background-color: $medium-blue;
      margin-bottom: 2px;
      &:hover {
        background-color: darken($medium-blue, 10%);
      }
      &:first-child {
        &:hover {
          background-color: $green;
        }
      }
      &:last-child {
        border: none;
        &:hover {
          background-color: $red;
        }
      }
      a {
        i {
          color: $light-grey;
          padding: 8px;
          font-size: 16px;
        }
      }
    }
  }
  ul.tabs {
    @include clearFix;

    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      text-align: center;
      width: 50%;
      a {
        padding: 10px;
        text-decoration: none;
        width: 100%;
        display: inline-block;
        background-color: $medium-blue;
        border-bottom: 0.5px solid $medium-blue;
        color: white;
        i {
          background-color: white;
          color: $blue;
          border-radius: 50%;
          padding: 2px 3px;
          margin-right: 10px;
        }

        &.active {
          background-color: white;
          border-bottom: 0.5px solid lighten($blue, 30%);
          color: $blue;
          i {
            background-color: $blue;
            color: white;
          }
        }

      }

      &:first-child {
        float: left;
      }
      &:last-child {
        float: right;
      }
    }
  }

  .search_container {
    border-bottom: 3px solid $light-grey;

    .input_container {
      position: relative;
      width: 100%;
      padding: 15px;
      background-color: white;
      border-bottom: 1px solid $medium-grey;
      i {
        position: absolute;
        font-size: 20px;
        top: 19px;
        left: 23px;
        color: $blue;
      }
      input {
        display: inline-block;
        padding: 4px 4px 4px 32px;
        width: 100%;
        border-radius: $br;
        border: 1px solid $light-grey;
        background-color: $light-grey;
        color: $dark-grey;
        &:focus {
          outline: none;
        }
      }
    }
  }

  ul.users {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-y: auto;
    max-height: 380px;

    li {

      &.separator {
        background-color: $blue;
        color: white;
        text-align: center;
      }

      padding: 10px 0px 10px 20px;
      border-bottom: 1px solid $light-grey;
      &:last-child {
        margin-bottom: 20px;
      }
      div {
        display: inline-block;

      }
      p {
        margin: 0;
        padding: 0;
      }
      span {
        color: #8a8a8a;
        font-size: 13px;
      }
      select {
        float: right;
        margin-right: 10px;
        width: 35%;
        border-radius: $br;
        border: 1px solid $medium-grey;
        -webkit-border-radius: $br;
        color: $dark-grey;
        background-color: $light-grey;
        padding: 4px;
        font-size: 12px;
        margin-top: 4px;
      }
      a {
        float: right;
        display: inline-block;
        i {
          background-color: white;
          color: $grey;
          border: 1px solid $grey;
          border-radius: 50%;
          padding: 2px 4px;
          margin: 6px 15px 0 5px;
        }
      }
    }
  }
  #group_deletion_confirmation {
    position: absolute;
    width: 40%;
    @media screen and (max-width: $medium) {
      width: 60%;
    }
    height: 100px;
    background-color: white;
    right: 0px;
    bottom: -92px;
    z-index: 999;
    box-shadow: -2px 2px 5px $darker-grey;
    p {
      color: $dark-grey;
      font-size: 16px;
      padding: 15px;
    }
    a.pull-left {
      margin: 0 0 0 15px;
      width: 42%;
    }
    a.pull-right {
      margin: 0 15px 0 0;
      width: 42%;
    }

  }
}