.group {
  width: 100%;
  background-color: white;
  border: 2px solid;

  @media screen and (min-width: $large) {
    overflow-y: scroll;
    overflow: auto;

    ul:last-child {
      margin: 0 0 225px 0;
    }
  }

  h3, p {
    margin: 0;
    font-weight: 400;
  }
  h3 {
    padding-top: 15px;
  }
  section:first-child {
    position: relative;
    text-align: center;
    color: white;
    p {
      padding-bottom: 15px;
    }
    a {
      text-decoration: none;
      color: white;
    }
    .close {
      position: absolute;
      top: -1px;
      left: 6px;
      font-size: 16px;
    }
    .sort_blue {
      position: absolute;
      top: 3px;
      right: 3px;
      border: solid 1px $light-blue;
      border-radius: $br;
      padding: 3px 16px 3px 4px;
      font-size: 12px;
      cursor: pointer;
    }
    .sort_green {
      @extend .sort_blue;
      border: solid 1px $light-green;
    }
    .sort_purple {
      @extend .sort_blue;
      border: solid 1px $light-purple;
    }
    .sort_grey {
      @extend .sort_blue;
      border: solid 1px $medium-grey;
    }
    .sort_container {
      position: relative;
      i {
        position: absolute;
        top: -18px;
        left: 22px;
      }
    }
    .sort_drop_down_blue {
      position: absolute;
      text-align: right;
      top: 30px;
      right: 3px;
      min-width: 120px;
      border-radius: $br;
      border: solid 1px $light-grey;
      background-color: white;
      box-shadow: 0px 3px 5px $darker-grey;
      color: $dark-grey;
      font-size: 12px;
      z-index: 999;
      ul {
        list-style-type: none;
        margin-bottom: 2px;
        li {
          @include clearFix;
          padding: 8px;
          border-bottom: 1px solid $grey;
          &:last-child {
            border-bottom: none;
          }
          label {
            float: left;
          }
          input {
            float: right;
          }
        }
      }
    }
    .sort_drop_down_green {
      @extend .sort_drop_down_blue;
    }
    .sort_drop_down_purple {
      @extend .sort_drop_down_blue;
    }
    .sort_drop_down_grey {
      @extend .sort_drop_down_blue;
    }
  }
  section.owned {
    background-color: $light-blue;
    position: relative;
    text-align: center;
    color: darken($blue, 10);
    h3 {
      padding: 8px 0px;
    }
    i {
      position: absolute;
      left: 7px;
      top: 10px;
      font-size: 20px;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

