<li>
  <div>
    <i class="fa fa-user"></i>
    <span>12</span>
  </div>
  <div>
    <h3>Data Management Landscape</h3>
    <p>Temporibus autem quibusdam et aut.</p>
    <span>15 December 2015</span>
  </div>
  <div>
    <a class="button_green" href="#">Member</a>
  </div>
</li>