<li class="group_section">
  <div>
    <i class="<%= "fa fa-user #{type}" %>"></i>
    <span>12</span>
  </div>
  <div>
    <p>Data Management Landscape</p>
    <p>Temporibus autem quibusdam et aut.</p>
    <p>15 December 2015</p>
  </div>
  <div>
    <a class="<%= "button_#{action}" %>" href="#"><%= I18n.t("action.#{action}") %></a>
  </div>
</li>