<div class="group">
  <section class="<%= "background_#{type}" %>">
    <a href="#" class="close"><i class="fa fa-times"></i></a>
    <a href="#" class="sort">
      <i class="fa fa-sort-amount-asc"></i>
      <span>A-Z</span>
      <i class="fa fa-sort-down"></i>
    </a>
    <div>
      <h1>MY GROUPS</h1>
      <p>You own or are a member of the group</p>
    </div>
  </section>
  <section>
    <i class="fa fa-angle-down"></i>
    <h2>Owner</h2>
  </section>
  <ul>
    <li>
      <div>
        <i class="fa fa-user"></i>
        <span>12</span>
      </div>
      <div>
        <h3>Data Management Landscape</h3>
        <p>Temporibus autem quibusdam et aut.</p>
        <span>15 December 2015</span>
      </div>
      <div>
        <a class="button_green" href="#">Member</a>
      </div>
    </li>
  </ul>
</div>