<section id="group_deletion_confirmation" class="hidden">
  <form action="">
    <p>Deze groep verwijderen?</p>
    <a href="#" class="button_blue pull-left">Ja</a>
    <a href="#" class="button_dark_grey pull-right">Nee</a>
  </form>
</section>