<header class="header">
  <ul>
    <li><a href="/">GroupHUB</a></li>
    <li><a href="/">Surfnet</a></li>
  </ul>

  <ul>
    <li><a class="button_blue" id="new_group_link" href="#"><i class="fa fa-plus-circle"></i>New Group</a></li>
    <li><a class="button_grey_info" id="notifications_link" href="#"><span>5</span>Notifications</a></li>
    <li><a class="button_grey" href="#">Info</a></li>
    <li class="language-selector">
      <a class="button_grey" id="language_selector_link" href="#">EN<i class="fa fa-sort-down"></i></a>
      <a class="button_grey hidden" id="language_selector_menu" href="#">NL</a>
    </li>
  </ul>
</header>