<header>
  <ul>
    <li><a href="/">GroupHUB</a></li>
    <li><a href="/">Surfnet</a></li>
  </ul>

  <ul>
    <li><a class="button_blue" href="#"><i class="fa fa-plus-circle"></i>New Group</a></li>
    <li><a class="button_grey_info" href="#"><span>5</span>Notifcations</a></li>
    <li><a class="button_grey" href="#">Info</a></li>
    <li><a class="button_grey" href="#">EN<i class="fa fa-sort-down"></i></a></li>
  </ul>
</header>