<section id="join_group" class="join_group_container hidden">
  <div class="join_group_modal">
    <header>
      <a id="join_group_close" href="#" class="close_modal"><i class="fa fa-times"></i></a>
      <p>Lidmaatschap aanvragen</p>
    </header>
    <form action="">
      <div class="form_element">
        <span>Naam group:</span>
        <p>Data Management Landscape</p>
      </div>
      <div class="form_element">
        <label for="personal_message">Persoonlijk bericht:</label>
        <textarea id="personal_message" name="personal_message" cols="15" placeholder="Please..."></textarea>
      </div>
      <a href="#" class="button_blue">Aanvragen</a>
      <a href="#" class="button_dark_grey">Annuleren</a>
    </form>
  </div>

</section>