<section id="notifications" class="notifications_container hidden">
  <div class="notifications">
    <header>
      <a id="notifications_close" href="#" class="close_modal"><i class="fa fa-times"></i></a>
      <p>NOTIFICATIONS</p>
    </header>
    <% 7.times do |i| %>
        <%= partial "notification" %>
    <% end %>
  </div>

</section>