<article class="notification">
  <table>
    <tr>
      <td>Datum</td>
      <td>1 januari 2016 14:38</td>
    </tr>
    <tr>
      <td>Groep</td>
      <td>Data Management Landscape</td>
    </tr>
    <tr>
      <td>Gebruiker</td>
      <td>John Doe</td>
    </tr>
    <tr>
      <td>Bericht</td>
      <td>mag ik lid worden van deze groep</td>
    </tr>
  </table>
  <a href="#" class="button_blue">Accepteer</a>
  <a href="#" class="button_grey">Annuleer</a>
</article>